* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #f2f2f2;
}
body {
    font-family: 'Roboto', sans-serif;
}
.principal {
    width: 100%;
    height: 100%;
    padding: 15px 15px 35px 15px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(../img/background-dark.png) no-repeat;
    background-size: cover;
    overflow-y: scroll;
}
.principal::-webkit-scrollbar, 
.left-column::-webkit-scrollbar,
.right-column::-webkit-scrollbar {
    display: none;
}
*::-webkit-scrollbar {
    display: block;
}
*::-webkit-scrollbar {
    background: #16161d;
    width: 7px;
}
*::-webkit-scrollbar-thumb {
    background: #004481;
    border-radius: 60px;
}
*::-webkit-scrollbar-button {
    background: #16161d;
}
.cab, .center {
    width: 100%;
    height: 98px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: black;
    box-shadow: 0 0 .5em black;
    overflow: hidden;
}
.cab img {
    width: 65px;
    margin: 0 10px;
}
.menu {
    width: 100%;
    height: 100%;
    margin: 0 10px;
    padding: 0 10px;
    padding-right: 20px;
    background: #16161d;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu li a {
    background:#004481;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s all;
}
.menu li a:hover {
    background:#001324;
    transition: .1s all;
}
#user-data {
    display: flex;
    align-items: center;
    justify-content: center;
}
#user-data img {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 .1em black;
    border-radius: 100%;
}
#btn-theme {
    width: 20px;
    filter: invert(90%);
}

.center {
    height: 100%;
}
.left-column, .right-column {
    width: 15%;
    height: 100%;
    background: #16161d;
    border-radius: 10px;
    overflow-y:scroll;
}
.left-column {
    max-width: 200px;
}
.center-column {
    width: 100%;
    height: 100%;
    padding-left: 8px;
    margin-left: 10px;
    background: #16161d;
    border-radius: 10px;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.center-column h1 {
    width: 100%;
    margin: 10px 0 10px 0;
    text-align: center;
}
.menu-left ul li {
    list-style: none;
    padding: 5px;
}
.menu-left li img {
    width: 11px;
}
.menu-left li a {
    padding: 8px;
    color: #f2f2f2;
    text-decoration: none;
    background: #004481;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    cursor: pointer;
    transition: .1s all;
}
.menu-left li a:hover {
    background: #001324;
    color: #f2f2f2;
    transition: .1s all;
}
#submenu-consulta, #submenu-admin {
    margin: 4px -4px -4px;
    display: none;
}
#submenu-consulta a, #submenu-admin a {
    background: #152838;
}
#submenu-consulta a:hover, #submenu-admin a:hover {
    background: #001324;
}
#submenu-consulta:nth-child(2) li a, #submenu-admin:nth-child(2) li a {
    justify-content: space-between;
    margin-top:  0px;
}
#btn-close, #btn-menu, #user-data-menu, #logo-id-menu {
    display: none;
}
#btn-close, #btn-menu {
    cursor: pointer;
}
form {
    width: 100%;
    margin: 0 15%;
    background: red;
    border-radius: 10px;
    padding: 30px;
    padding-left: 5px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    background: black;
    border-top: 7px solid #004481;
}
label {
    width: 20%;
    font-size: 14px;
    padding: 4px 8px;
    margin-left: 30px;
}
input, select {
    width: 25%;
    margin-bottom: 13px;
    padding: 3px;
    border: 1px solid #707070;
    border-radius: 2px;
    color: black;
    color: #707070;
    background: black;
}
input {
    padding: 3px 6px;
}
input:focus, select:focus {
    outline-color: #004481;
}
#btn-cadastrar, #btn-reset {
    width: 13%;
    max-width: 150px;
    min-width: 90px;
    padding: 7px;
    margin: 20px 10px 20px 10px;
    background: #004481;
    border: none;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s all;
}
#btn-cadastrar:hover, #btn-reset:hover {
    background-color: #001324;
    transition: .1s all;
}

.rodape {
    width: 100%;
    position: fixed;
    background: black;
    color: #9c9c9c;
    font-style: italic;
    bottom: 0px;
    padding: 10px;
    text-align: center;
    z-index: 0;
}
#go-top, #btn-help, #ext-excel {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: -60px;
    right: 15px;
    background: #004481;
    border-radius: 5px;
    box-shadow: 0 0 .3em black;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    transition: .3s all;
}
#go-top:hover, #btn-help:hover, #ext-excel:hover {
    transform: scale(1.1);
    transition: .3s all;
}
#btn-help, #ext-excel {
    bottom: 55px;
    padding: 15px;
    z-index: 4;
}
#ext-excel {
    bottom: 120px;
    padding: 10px;
    z-index: 2;
}

#go-top img, #btn-help img, #ext-excel img {
    width: 100%;
}
.back-help-box, .back-excel {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.help-box, .excel-box, .informative-box {
    width: 320px;
    padding: 20px;
    background: #16161d;  
    box-shadow: 0 0 .5em black;
    border-radius: 7px;
    border-top: 7px solid #004481;
    text-align: center;
    position: fixed;
    top: 10%;
    z-index: 3;
}
.informative-box {
    width: 230px;
    position: fixed;
    top: auto;
    bottom:90px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
}
.informative-box img {
    width: 30px !important;
    margin: 10px 0;
    margin-bottom: 0;
}
.informative-box p {
    font-size: 12px !important;
    margin-top: 10px;
}
.back-excel, .excel-box {
    display: none;
}
.help-box img {
    width: 30px;
    margin-bottom: 10px;
}
.help-box h3 {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}
.help-box p {
    font-size: 15px;
    text-align: justify;
}
.excel-box img {
    width: 45px;
    margin: 20px 0 0 0;
}
.excel-box button {
    width: 90%;
    padding: 13px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #004481;
    border: none;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s all;
    display: flex;
    align-items: center;
    justify-content: center;
}
.excel-box button img {
    width: 15px;
    margin-right: 20px !important;
    margin: 0;
}
.excel-box p {
    margin-top: 20px;
}
.excel-box div {
    color: white;
    display: none;
    margin-top: 10px;
}
.excel-box h3 {
    color: black;
}
.excel-box div label, .excel-box div select {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin: 0px;
    background: #152838;
    border-radius: 5px 5px 0 0;
}
.excel-box label {
    display: inline-block;
}
.excel-box div select {
    background: white;
    border-radius: 0 0 5px 5px;
}

#close-informative {
    width: 17px !important;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    filter: invert(100%);
}

#close-help, #close-excel {
    width: 15px;
    right: 10px;
    margin-left: 275px;
    margin-top: -0px;
    cursor: pointer;
    filter: invert(100%);
}
table{
    border-collapse: collapse;
    margin-bottom: 20px;
}
td, tr {
    border: 1px solid #707070;
    padding: 10px;
    text-align: center;
    background: black;   
    color: white;
}
td img {
    width: 25px;
    cursor: pointer;
    margin: 4px;
}
thead td{
    background-color: #004481;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 15px;
}
tbody{
    font-size: 12px;
    background: white;
}

@media screen and (max-width: 1300px) {
    form {
        margin: 0px;
    }
}

@media screen and (max-width: 980px) {
    #img-id, .menu {
        display: none;
    }
    .cab {
        justify-content: space-between;
        padding: 0px 10px;
    }
    #btn-menu {
        display: block;
        width: 25px !important;
        height: 25px;
        filter: invert(100%);
    }
    #btn-close {
        filter: invert(100%);
    }
    #img-inventario {
        width: 50px;
    }
    .back-menu {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.7);
        display: none;
        z-index: 9;
    }
    .left-column {
        max-width: 300px;
        position: fixed;
        top: 0;
        left: -85%;
        width: 80%;
        height: 100%;
        box-shadow: 0 0 .2em black;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        z-index:99;
    }
    .top-menu {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #user-data-menu {
        width: 100%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        text-align: center;
    }
    #user-data-menu img {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
    #btn-close {
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        margin: 10px;
    } 
    .menu-left li a {
        padding: 15px;
        font-size: 15px;
    }
    .menu-left li a img {
        width: 15px;
    }
    #logo-id-menu {
        display: block;
        width: 100px;
        margin: 0 auto;
        position: absolute;
        bottom: 40px;
        left: 20px;
    }
    .center-column {
        margin-left: 0px;
        padding: 10px 0px;
        padding-bottom: 0px;
    }
    .center-column h1 {
        margin: 10px 0 20px 0;
    }
    form {
        padding: 10px;
        justify-content: center;
        flex-direction: column;
        border-top: 0px;
    }
    label {
        width: 100%;
        padding: 10px;
        margin: 0px;
        text-align: center;
        border-radius: 5px 5px 0 0;
        border: 1px solid black !important;
        border-bottom: 0px !important;
        background: #004481;
        color: #f2f2f2;
        font-weight: bold;
    }
    input, select {
        width: 100%;
        margin-bottom: 0px;
        padding: 10px;
        border-top: 0px;
        border-radius: 0 0 5px 5px;
        border: none;
        background: black;
        color: #9c9c9c;
    }
    input:last-child form{
        margin-bottom: 20px;
    }
    #btn-cadastrar, #btn-reset {
        padding: 12px !important;
    }
    
}
@media screen and (max-width: 620px) {
    td, tr {
        padding: 5px;
        text-align: center;
        width: 0px;
    }
    td img {
        width: 10px;
        margin: 0px;
    }
    thead{
        background-color: #004481;
        color: #f2f2f2;
        font-weight: bold;
        font-size: 7px;
    } 
    tbody{
        font-size: 5px;
        background: white;
    }
    form {
        width: 90%;
    }
}
